<!DOCTYPE html>
<html>
<head>
    <title>Добавление пользователя</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class = "check">
    <h1>Добавление Армии</h1>
     <form method="POST">
        <label>Название</label><br>
        <input name="army_name" class="field" autocomplete="off"/><br><br>
        <label>Фракция</label><br>
        <input name="faction" class="field" autocomplete="off"/><br><br>
        <label>Количествое бойцов</label><br>
        <input name="num_units" class="field" autocomplete="off"/><br><br>
        <label>Очки армии</label><br>
        <input name="points_total" class="field" autocomplete="off"/><br><br>
        <input type="submit" value="Отправить" />
     </form>
     <a href="/armies">К списку пользователей</a>
    </div>
</body>
<html>