<!DOCTYPE html>
<html lang="en">
<head>
    <title>Список пользователей</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class = "check">
        <table style="margin-left:auto;margin-right:auto;">
            <tr><th>Название армии</th><th>{{army.army_name}}</th><th></th></tr>
            <tr><th>Фракция</th><th>{{army.faction}}</th><th></th></tr>
            <tr><th>Бойцы</th><th>{{army.num_units}}</th><th></th></tr>
            <tr><th>Очки</th><th>{{army.points_total}}</th><th></th></tr>
        </table>
        </table>
    </div>
</body>
</html>